@page
@model Ghitau_Emanuela_aplication.Pages.Perfumes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Perfume</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Perfume.Brand" class="control-label"></label>
                <input asp-for="Perfume.Brand" class="form-control" />
                <span asp-validation-for="Perfume.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perfume.CountryID" class="control-label"></label>
                <input asp-for="Perfume.CountryID" class="form-control" />
                <span asp-validation-for="Perfume.CountryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perfume.Price" class="control-label"></label>
                <input asp-for="Perfume.Price" class="form-control" />
                <span asp-validation-for="Perfume.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perfume.AppearanceYear" class="control-label"></label>
                <input asp-for="Perfume.AppearanceYear" class="form-control" />
                <span asp-validation-for="Perfume.AppearanceYear" class="textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perfume.ShopID" class="control-label">Shop Name</label>
                <select asp-for="Perfume.ShopID" class="form-control" asp-items="ViewBag.ShopID">
                </select>
                <span asp-validation-for="Perfume.ShopID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
